@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: linear-gradient(to bottom, #ecfeff, #d0faff);
  --foreground: #0f172a;
  /* Slate 900 */
}

.dark {
  --background: #020617;
  --foreground: #ededed;
}

body {
  background: var(--background);
  background-image: linear-gradient(to bottom, #ecfeff, #ffffff);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.dark body {
  background-image: none;
}

html,
body {
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", "Inter", sans-serif;
}

@keyframes pulse-slow {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}

.animate-pulse-slow {
  animation: pulse-slow 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}